.c-root {
    display: flex;
    align-items: center;
    flex-direction: column;

    > div {
        width: 100%;
    }

    &__logo {
        margin: 12px 0;
    }

    &__toggle-enabled {
        margin: 4px 0;
    }

    &__stats {
        margin: 4px 0 0;
        border-top: solid 1px;
        padding-top: 15px;
    }
}
