<div class="c-toggle-enabled__title" data-msg="enableUnlabelling"></div>
<div class="c-toggle-enabled__toggle">
    <div class="c-toggle-enabled__toggle-label c-toggle-enabled__toggle-label--on" data-on="click:turnOn" data-msg="on"></div>
    <div class="c-toggle-enabled__toggle-switch" data-on="click:onToggle">
        <svg class="c-toggle-enabled__toggle-border" width="80" height="40" viewBox="0 0 80 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1.5" y="1.5" width="77" height="37" rx="18.5" stroke="#0600FF" stroke-width="3"/>
        </svg>
        <svg class="c-toggle-enabled__toggle-state c-toggle-enabled__toggle-state--on" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="15" r="15" fill="#96FF00"/>
        </svg>
        <svg class="c-toggle-enabled__toggle-state c-toggle-enabled__toggle-state--off" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="15" r="15" fill="#C4C4C4"/>
        </svg>
    </div>
    <div class="c-toggle-enabled__toggle-label c-toggle-enabled__toggle-label--off" data-on="click:turnOff" data-msg="off"></div>
</div>
